@media (max-width: 430px) {
    .main{
        width: 95vw;
    }
    .inputstyle{
        width: 90vw !important;
    }
  }
  @media (max-width: 1130px) {
     .cardsize{
        width: 24.3333% !important;
     }
  }
